@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Persian Date & Time Picker</title>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>

    @System.Web.Optimization.Scripts.Render("~/Scripts/webber-persianDTPickerWBehzadi")
    @System.Web.Optimization.Styles.Render("~/Contents/webber-persianDTPickerWBehzadi")

    @*<script src="~/Scripts/persianDatepicker.js"></script>
        <link href="~/Contents/persianDatepicker-default.css" rel="stylesheet" />


        <script src="~/Scripts/webber-persianDTPicker.js"></script>
        <link href="~/Contents/webber-persianDTPicker.css" rel="stylesheet" />*@
</head>
<body>
    <div>
        <input type="text" name="gpsLocation" class="webber-persian-dtpicker" data-type="date" /><br />
        <input type="text" name="gpsLocation" class="webber-persian-dtpicker" data-type="dateTime" /><br />
        <input type="text" name="gpsLocation" class="webber-persian-dtpicker" data-type="time" /><br />
    </div>
</body>
</html>
