@model TestClass
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Submit</title>
</head>
<body>
    <div>Model.Value: @Model.Value</div>
    <div>Model.Member.AlarmDate: @Model.Member.AlarmDate</div>
</body>
</html>
